@import "@/common/reset.scss";
html,html body{
    width: 100%;
    height: 100%;
}
.app{
    position: relative;
    width: 100%;
    height:100%;

    .channel-wrap{
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        .add-channel{
            cursor: pointer;
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            display: block;
            background: #3ab7f8;
        }
    }
    .live-wrap{
        width:1200px;
        box-sizing: border-box;
        padding: 10px;
        margin: 0 auto;
        .videos{
            display:flex;
            .video-card{
                display: block;
                width:200px;
                height:200px;
                margin-right:20px;
            }

        }
    }
}
